/* resetting all default settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parallex {
    background-image: url('assets/sport-2.jpg');
    min-height: 1000px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.style {
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallex1 {
    background-image: url('assets/sport-1.jpg');
    min-height: 1000px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar {
    height: 50px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}